.hover-anim {
  display: inline-block;
  position: relative;
}
.hover-anim:hover {
  color: #d43d3d;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

body,
html {
  scroll-behavior: smooth;
}

.hover-anim:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  bottom: -1px;
  left: 0;
  background-color: #d43d3d;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-anim:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.z-50 {
  z-index: 50 !important;
}

.preloader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.preloader-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes arrowAnim {
  0% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(20px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}
@keyframes float2 {
  0% {
    transform: translateY(-10) translateX(10);
  }
  50% {
    transform: translateY(-50px) translateX(25px);
  }
  100% {
    transform: translateY(0) translateX(-10);
  }
}

.arrow-anim {
  animation: arrowAnim 0.8s ease-in infinite;
}
.animate-float {
  animation: float 10s ease-in-out infinite;
}
.animate-float2 {
  animation: float2 12s ease-in-out infinite;
}

.testimonials-container {
  overflow: hidden;
}

.testimonials-carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.slick-dots li button::before {
  background-color: white;
  height: 0.3rem !important;
  text-align: start !important;
  width: 2rem !important;
  margin-top: 2rem !important;
}

.slick-dots {
  display: inline-flex !important;
  gap: 10px !important;
  margin-right: 2rem !important;
  justify-content: start !important;
  margin-top: 1rem !important;
  flex-direction: row !important;
}

.testimonial {
  width: 20rem;
}

.active {
  display: inline-block;
  margin: auto;
}

.prev-btn,
.next-btn {
  font-size: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #888;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.active-dot {
  background-color: #333;
}

.bgCover {
  height: 12rem;
  width: 100% !important;
  background: linear-gradient(-182deg,  #0d0d0d,   #00000000 ),
    url(../assets/bg/neroo_cover.jpg) ;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-bottom-left-radius: 60px !important;
  border-bottom-right-radius: 60px !important;
  align-items: center;
  background-position: center;
}


@media (max-width: 690px) {
  
.bgCover {
  height: 12rem;
  margin-top: -2rem;
  width: 100% !important;
  background: linear-gradient(-182deg,  #0d0d0d,   #00000000 ),
    url(../assets/bg/neroo_cover.jpg) ;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  align-items: center;
  background-position: center;
}
}